.list_main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: #6a6a6a;
}

.list_container{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.champion > img{
    width: 56px;
    height: 56px;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.champion_info{
    position: absolute;
    background: rgb(79, 79, 79);
    width: 300px;
    height: 400px;
    display: none;
    flex-direction: column;
    color: white;
}

.champion{
    width: 66px;
    height: 66px;
}

.list_selecter{
    background: #6a6a6a;    
    height: 44px;
    padding: 8px;
    width: 100%;
}