.main_container{
    display: flex;
    width: 1140px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1{
    background: sandybrown;
    width: 170px;
    height: 1000px;
}

.line2{

}

.line3{
    background: sandybrown;
    width: 270px;
    height: 1000px;
}