.main_container{
    display: flex;
    width: 1140px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1{
    background: #222;;
    width: 170px;
    height: 1000px;
}

.line2{
    width: 658px;
}

.line3{
    background: #222;;
    width: 270px;
    height: 1000px;
}